<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://agonzalezro.github.io/md2slides/libs/reveal/3.2.0/css/reveal.css">
    <link rel="stylesheet" href="https://agonzalezro.github.io/md2slides/libs/reveal/3.2.0/css/theme/white.css">
    <link rel="stylesheet" href="https://agonzalezro.github.io/md2slides/libs/reveal/3.2.0/lib/css/zenburn.css">
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        {{range .Slides}}
        <section>{{.}}</section>
        {{end}}
      </div>
    </div>

    <script src="https://agonzalezro.github.io/md2slides/libs/reveal/3.2.0/lib/js/head.min.js"></script>
    <script src="https://agonzalezro.github.io/md2slides/libs/reveal/3.2.0/js/reveal.js"></script>
    <script>Reveal.initialize({{.Config}});</script>
  </body>
</html>
