<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=792, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="https://agonzalezro.github.io/md2slides/libs/shower/2.0.2/themes/ribbon/styles/screen-16x10.css">
</head>
<body class="shower list">
  {{range .Slides}}
    <section class="slide">{{.}}</section>
  {{end}}
	<script src="https://agonzalezro.github.io/md2slides/libs/shower/2.0.2/shower.min.js"></script>
</body>
</html>
